@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Epilogue&family=Inter&family=Montserrat&family=Poppins&family=Roboto&family=Teko&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: 'Inter', sans-serif;
    background-image: url('/static/assets/BACKGROUND.png');

    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1120px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: auto;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    align-items: center;
}

.texto_2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-top: 0.5rem;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; 
}

main {
    margin-top: auto;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    margin-bottom: 20px;
}

.entrega {
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #6B72D6;
}

.botao {
    border-radius: 5px;
    border: none;
    font-family: "Inter", sans-serif;
    padding: 8px 16px;
    background-color: #4F9CF9;
    color: black;
    cursor: pointer;
    display: block;
    margin: 0 auto 2.5rem auto;
    font-size: 1rem;
}
.mapa {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
