<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Acompanhar Pedido</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/detalhe-entrega.css') }}" />
</head>
<body>
  <section class="section">
    <div class="form-box">
      <h2>Acompanhar Pedido</h2>
      <!-- Formulário para enviar CPF e consultar status -->
      <form action="/consultar_status" method="POST">
        <input type="text" name="cpf" placeholder="Digite seu CPF" required />
        <button type="submit">Consultar Status</button>
      </form>
      <br>
      <a href="/">Voltar para formulário</a>
    </div>
  </section>
</body>
</html>
