<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\acompanhar_entrega.css">
    <title>Entrega</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="container">
                <h1>Acompanhe a entrega</h1>
                <p class="texto_2">Sua água já está a caminho e você irá ser notificado.</p>

                <!-- Mapa dentro do container -->
                <div class="mapa">
                    <img src="\static\assets\mapa.png" alt="mapa">
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="entrega">
            <span>À caminho <img src="\static\assets\linha.png"></span> 
            <img src="\static\assets\check2-square.png">

            <span>Entregue <img src="\static\assets\linha.png"></span>
            <img src="\static\assets\check2-square.png">
        </div>
    </main>

    <footer>
        <div>
            <button class="botao" type="button">Algum problema na entrega?</button>
        </div>
    </footer>
</body>
</html>
