<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\tutorial.css">
    <title>Tutorial</title>
</head>
<body>
    <header>
        <nav>
            <span class="fluir">Fluir</span>
        <div class="header">
            <div class="container_tutorial">
                <h1>Tutorial:</h1>

                <div class="mapa">
                    <img src="\static\assets\video_img 1.png" alt="video">
                </div>
            </div>
        </div>
    </header>

    <footer>
        <div>
            <button class="botao" type="button">Voltar para tela inicial</button>
        </div>
    </footer>
</body>
</html>
